<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
  <h3>Parent Component</h3>
  <app-component-within-component></app-component-within-component>
  <app-control-flow-statment></app-control-flow-statment>
  <app-interpolation></app-interpolation>
  <app-loops></app-loops>
  <app-binding></app-binding>
 
  <h4> Routing</h4>
  <nav>
    <a routerLink="tempa"> Tempa</a><br>
    <a  routerLink="tempb">Tempb</a>    
  </nav>

<div>
  <router-outlet></router-outlet>
</div>
<app-reactiveform></app-reactiveform> 
<app-input process="Done"></app-input>
<app-output (message)="recivemessage(message)"></app-output>
<p> message from childside is {{message}}</p>
  </body>
</html>